.main-layout,
.main-header,
.main-sidebar,
.main-content,
.main-footer {
  display: flex;
}

.main-layout {
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  width: 100%;
  background-color: black;
  color: white;
}

.navbar {
  min-height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-container {
  display: grid;
  grid-template-columns: 250px auto;
  min-height: 60vh;
  flex: 1;
}

.main-container .main-sidebar {
  background-color: #ccc;
}

.main-footer {
  background-color: #ccc;
  min-height: 150px;
}

.main-footer .footer {
  width: 100%;
  text-align: center;
  padding-top: 16px;
}

.btn-locale {
  cursor: pointer;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.btn-locale.active {
  background-color: yellow;
}
